/* Light mode colors */
:root {
  --background-color-container: white;
  --background-color-body: #959595;
  --background-color-barejaune: rgba(250, 183, 0, 0.5);
  --background-color-text1: rgba(250, 183, 0, 0.50);
  --background-color-text2: #FDDB80;
  --background-color-contacter: #F0EEEF;
  --background-color-mail: #FFF;
  --color-mail-text: #FAB700;
  --background-color-social: #D9D9D9;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color-container: #505050;
    --background-color-body: #303030;
    --background-color-barejaune: #FCDB7F;
    --background-color-text1: #FCDB7F;
    --background-color-text2: #FCDB7F;
    --background-color-contacter: #A1A1A1;
    --background-color-mail: #D2D2D2;
    --color-mail-text: #FFE398;
    --background-color-social: #D9D9D9;
  }
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color-body);
  font-family: Verdana, sans-serif;
}

.container {
  width: 20rem;
  height: 62.25rem;
  background-color: var(--background-color-container);
  box-sizing: border-box;
}

/* Header styles */
.header {
  display: flex;
  padding: 0.6875rem 1.40625rem 0;
  justify-content: space-between;
}

.title {
  width: 13.5rem;
  height: 2.9375rem;
  flex-shrink: 0;
}

.logo {
  width: 2.5625rem;
  height: 2.9375rem;
  flex-shrink: 0;
  margin-left: 1.5rem;
}

/* Image1 container styles */
.image1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8125rem;
}

.image1 {
  width: 18.0625rem;
  height: 17.9375rem;
}

/* Info2 styles */
.info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}

.text1 {
  width: 6.875rem;
  height: 15.125rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
  border-radius: 0.25rem;
  background: var(--background-color-text1);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.image2 {
  width: 7.875rem;
  height: 15.125rem;
  border-radius: 0.25rem;
}

/* Images and bars styles */
.images-bares {
  position: relative;
  margin-top: -0.9375rem;
}

.barejaune {
  position: absolute;
  width: 100%;
  height: 4.0625rem;
  background-color: var(--background-color-barejaune);
  margin-top: 1.25rem;
  z-index: 0;
}

.images2 {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 1.0625rem;
  position: relative;
  z-index: 1;
}

.pentoufle, .tire, .valise {
  width: 5.2036875rem;
  height: 7.0403125rem;
  border-radius: 0.48975rem;
}

/* Text2 container styles */
.text2-container {
  display: flex;
  justify-content: center;
  margin-top: -1.25rem;
}

.text2 {
  width: 18rem;
  height: 4.6875rem;
  padding: 0.625rem;
  border-radius: 0.375rem;
  background: var(--background-color-text2);
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Contact links styles */
.contact-liens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacter {
  padding: 0.4270625rem 1.0981875rem 0.4270625rem 0.610125rem;
  width: 17.9375rem;
  height: 3.660625rem;
  align-items: flex-start;
  border-radius: 0.488125rem;
  background: var(--background-color-contacter);
  box-sizing: border-box;
}

.abonner {
  font-size: 0.732125rem;
  margin: 0.125rem 0 0.3125rem;
}

.mail {
  width: 16.2291875rem;
  height: 1.6473125rem;
  padding: 0.3660625rem 0 0.40625rem 0.4270625rem;
  border-radius: 0.488125rem;
  background: var(--background-color-mail);
  color: var(--color-mail-text);
  box-sizing: border-box;
}

/* Social media icons styles */
.hyperliens {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.625rem;
}

.insta-container, .x-container, .youtube-container, .site-container {
  display: flex;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.5484375rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.365625rem;
  background: var(--background-color-social);
}

.insta, .x, .outeryoutube, .site {
  width: 1.9653125rem;
  height: 1.9653125rem;
}

.outeryoutube {
  position: absolute;
}

.playyoutube {
  position: relative;
}
