/* Base styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #959595;
  font-family: Verdana, sans-serif;
}

.container {
  width: 320px;
  height: 975px;
  background-color: white;
  box-sizing: border-box;
}

.Header {
  display: flex;
  padding: 0 22.5px;
  padding-top: 11px;
  justify-content: space-between;
}

.Titre {
  width: 216px;
  height: 47px;
  flex-shrink: 0;
}

.Logo {
  width: 41px;
  height: 47px;
  flex-shrink: 0;
  margin-left: 24px;
}

.Image1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
}

.Image1 {
  width: 289px;
  height: 287px;
}

.Info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

#Text1 {
  display: flex;
  width: 110px;
  height: 242px;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  line-height: 14px;
  border-radius: 4px;
  background: rgba(250, 183, 0, 0.50);
  padding-left: 8px;
  padding-right: 8px;
}

.Image2 {
  width: 126px;
  height: 242px;
  border-radius: 4px;
}

.ImagesBares {
  position: relative;
}

.Images2 {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
  z-index: 1;
}

.pentoufle, .tire, .valise {
  width: 83.259px;
  height: 112.645px;
  border-radius: 7.836px;
}

.barejaune {
  position: absolute;
  width: 100%;
  height: 65px;
  background-color: rgba(250, 183, 0, 0.5);
  margin-top: 20px;
  z-index: 0;
}

.Text2-container {
  display: flex;
  justify-content: center;
}

#Text2 {
  display: flex;
  width: 288px;
  height: 75px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #FDDB80;
  font-size: 8px;
  box-sizing: border-box;
}

.ContactLiens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacter {
  padding: 6.833px 17.571px 6.833px 9.762px;
  width: 287px;
  height: 58.57px;
  align-items: flex-start;
  border-radius: 7.81px;
  background: #F0EEEF;
  box-sizing: border-box;
}

.abonner {
  width: 252.833px;
  font-size: 11.714px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-top: 2px;
}

.mail {
display: flex;
width: 259.667px;
height: 26.357px;
padding: 5.857px 0px 6.5px 6.833px;
justify-content: flex-end;
align-items: center;
border-radius: 7.81px;
background: #FFF;
box-sizing: border-box;
color: #FAB700;
}

.POPO1{
  display: flex;
  gap: 1rem ;
  justify-content: center;
  margin-top: 26px;
}

.DADA1{
  display: flex;
  width: 35px;
  height: 35px;
  padding: 8.775px;
  align-items: center;
  gap: 7.313px;
  border-radius: 5.85px;
  background: #D9D9D9;
  justify-content: center;
}

.MEGA1{
  width: 31.445px;
  height: 31.445px;
}

.DADA2{
  display: flex;
  width: 35px;
  height: 35px;
  padding: 8.775px;
  align-items: center;
  gap: 7.313px;
  border-radius: 5.85px;
  background: #D9D9D9;
  justify-content: center;
}
.MEGA2{
  width: 34px;
height: 34px;
flex-shrink: 0;

}

.DADA3{
  display: flex;
  width: 35px;
  height: 35px;
  padding: 8.775px;
  align-items: center;
  gap: 7.313px;
  border-radius: 5.85px;
  background: #D9D9D9;
  justify-content: center;
  position: relative;
}

.MEGA3{
  width: 15px;
height: 15px;
flex-shrink: 0;
position: absolute;
justify-content: center;
}

.MEGA5{
  width: 31.445px;
 height: 31.445px;
 flex-shrink: 0;
 position: relative;
 justify-content: center;

}

.DADA4{
  display: flex;
  width: 35px;
  height: 35px;
  padding: 8.775px;
  align-items: center;
  gap: 7.313px;
  border-radius: 5.85px;
  background: #D9D9D9;
  justify-content: center;
}
.MEGA4{
  fill: rgba(255, 255, 255, 0.00);
stroke-width: 1.463px;
stroke: #000;
}
